{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "strict": "off",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "max-len": ["error", {"code": 100, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true}]
  }
}
